<div class="main__container__index">
  <div class="index__route--static">
    <a href="../home" type="button"><i class="fas fa-arrows-to-dot"></i>Static
      Route</a>
  </div>
  <br />
  <div class="index__route--dinamic">
    <a href="../realtimeproducts" type="button"><i
        class="fas fa-arrows-spin"
      ></i>Dinamic Route</a>
  </div>
  <div class="index__route--chat">
    <a href="../chat" type="button"><i class="far fa-comments"></i>Chat Route</a>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/js/index.js"></script>