<div class="main__container--side col s1"></div>
<div class="main__container__dinamic col s10">
  <div class="dinamic row">
    <div class="dinamic__container col s12 m6 l4">
      <div class="dinamic__tittle row">
        <h3 class="dinamic__tittle--h3">
          Ingresa un producto
        </h3>
      </div>
      <div class="form row">
        <form method="POST" action="#" name="form" class="col s12">
          <div class="form__contain row">
            <div class="input-field col s6">
              <input id="tittle" type="text" class="validate" required />
              <label for="tittle">Tittle</label>
            </div>
          </div>
          <div class="form__contain row">
            <div class="input-field col s12">
              <input id="description" type="text" class="validate" required />
              <label for="description">Description</label>
            </div>
          </div>
          <div class="form__contain row">
            <div class="input-field col s12">
              <input id="code" type="number" class="validate" required />
              <label for="code">Code</label>
            </div>
          </div>
          <div class="form__contain row">
            <div class="input-field col s12">
              <input id="price" type="number" class="validate" required />
              <label for="price">Price</label>
            </div>
          </div>
          <div class="form__contain row">
            <div class="input-field col s12">
              <input id="stock" type="number" class="validate" required />
              <label for="stock">Stock</label>
            </div>
          </div>
          <div class="form__contain row">
            <div class="input-field col s12">
              <label for="thumbnail">Thumbnail</label>
              <input id="thumbnail" type="text" class="validate" />
            </div>
          </div>
          <input
            type="submit"
            id="btnSave"
            class="form--btnSave col s5"
            value="Save"
          />
          <label class="col s2"></label>
          <input
            type="button"
            id="btnCancel"
            class="form--btnCancel col s5"
            value="Cancel"
          />
        </form>
      </div>
    </div>
    <div class="container__grid col s12 m6 l8">
      <!--dinamic content-->
    </div>
  </div>
</div>
<div class="main__container--side col s1"></div>
<div id="return"><a href="/" type="button"><i
      class="fas fa-light fa-reply-all"
    ></i><b>RETURN</b></a></div>
<button type="button" id="validate">VALIDATE</button>
<!-- Compiled and minified JavaScript -->
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/home.js"></script>